h1 {
  color: green;
  font-style: italic;
}

li {
  color: grey;
  font-size: 15 px;
  padding: 3 px;
}

.phoneBook {
  color: grey;
  font-size: 15 px;
  padding: 5 px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}